html
    box-sizing: border-box
    cursor: default

*, *:before, *:after
    box-sizing: inherit
    margin: 0px
    padding: 0px

body
    background-color: #edc938

.images
    display: flex
    flex-direction: column
    width: 100vw
    align-items: center
    .row
        display: flex
        width: 100%
        justify-content: center
    img
        width: 30%
        max-width: 350px
        height: auto
        padding: 200px 20px 0 20px

.titles
    display: flex
    justify-content: center
    padding-top: 3em
    font-size: 1.5em

